.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: black;
    color: antiquewhite;
    border-radius: 25px;
    border: 2px solid antiquewhite;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}
.boton-contenedor:hover{
    background-color: darkmagenta;
}

.operador{
    background-color: rgb(56, 99, 13);
}

.operador:hover{
    background-color: rgba(247, 163, 8, 0.43);
}